@model CMSPlus.Domain.Models.TopicModels.TopicDetailsModel
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}
<div class="container m-3">
    <h1 class="row-12 text-black">@Model.Title</h1>
    <div class="row">
        <p class="col-6 text-start text-black-50">Updated: @Model.UpdatedOnUtc</p>
        <p class="col-6 text-end text-black-50">Created: @Model.CreatedOnUtc</p>
    </div>
    <p class="row-12 text-black">@Html.Raw(Model.Body)</p>
    <div class="row">
        <p class="col-12 text-black-50 text-end">System name: @Model.SystemName</p>
    </div>
    @using (Html.BeginForm("Create", "Comment", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Body)
        @Html.HiddenFor(model => model.SystemName)
        @Html.HiddenFor(model => model.CreatedOnUtc)
        @Html.HiddenFor(model => model.UpdatedOnUtc)
        @Html.HiddenFor(model => model.Comments)
        @Html.Hidden("commentsJson", JsonConvert.SerializeObject(Model.Comments))

        <div class="form-group">
            <div class="row-12 text-end m-1">
                <input asp-for="CommentCreateModel.FullName" class="form-control" placeholder="Your Name:"></input>
                <span asp-validation-for="CommentCreateModel.FullName" class="text-danger"></span>
            </div>
            <div class="row-12 text-end m-1">
                <input asp-for="CommentCreateModel.Description" class="form-control" placeholder="Your Comment:"></input>
                <span asp-validation-for="CommentCreateModel.Description" class="text-danger"></span>
            </div>
            <div class="row-12 text-end m-1">
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
        </div>
    }
    @foreach (var comment in Model.Comments)
    {
        <div>
            <div class="mt-2 mb-1 d-flex justify-content-between">
                <p class="mb-0">@comment.FullName</p>
                <p class="mb-0"> @comment.CreatedOnUtc</p>
            </div>
            
            <p class="mt-2 border rounded p-2 text-black-50">@comment.Description</p>
        </div>

    }
    <div class="col-6 text-end">
        <a asp-controller="Topic" asp-action="Index" class="btn btn-primary">Back to list</a>
    </div>
</div>
